

.title_page {
	font-size: 40px;
	color:black;
	text-shadow: 4px 2px 4px blue;
	letter-spacing: 3px;
}

h1 {
	font-size: 40px;
	color:black;
	text-shadow: 4px 2px 4px blue;
	letter-spacing: 3px;
}

.sub_title {
	font-size: 15px;
	color:blue;
}